.certificates-page {
  background: var(--bg);
  color: var(--text);
  margin: 0 0 6rem 0;
}

.certificate-list {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.certificate-card {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
}

.certificate-card:hover {
  transform: translateY(-5px);
}

.certificate-card h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--accent);
}

.certificate-card p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.download-btn {
  margin-top: 0.8rem;
  padding: 0.6rem 1rem;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 10, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 700px;
  width: 100%;
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal-content img {
  max-width: 100%;
  border-radius: 8px;
}

.modal-download {
  background: var(--accent);
  color: white;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .certificate-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .certificate-card {
    padding: 1rem;
  }

  .certificate-card h2 {
    font-size: 1rem;
  }

  .certificate-card p {
    font-size: 0.85rem;
  }

  .modal-content{
    margin: 0 2rem;
  }

  .download-btn {
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
  }  
}