.community-page {
    background: var(--bg);
    color: var(--text);
    text-align: center;
}

.intro {
    max-width: 600px;
    margin: 1rem auto 3rem;
    font-size: 1.1rem;
}

.section {
    margin: 3rem 0;
}

.section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--accent);
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.card-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin: 2rem;
}

.community-card {
    background: var(--card);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease;
    text-align: center;
}

.community-card:hover {
    transform: scale(1.02);
}

.community-card h4 {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--text);
}

.community-card p {
    margin: 0.5rem 0 1rem;
    font-size: 0.95rem;
    color: var(--text);
}

.discussion-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.discussion-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.tag-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
}

.tag {
    background: var(--accent);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.tag:hover {
    background: #1d4ed8;
}

@media (max-width: 768px) {
    .course-page {
        padding: 0.5rem;
    }

    .page-heading {
        font-size: 1.5rem;
        border-radius: 1rem !important;
    }

    .course-filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 0;
        justify-items: center;
        align-items: center;
        margin: 1rem 1rem 1.5rem 1rem;
    }

    .intro {
        font-size: 1rem;
        margin: 0.5rem 1rem !important;
    }

    .section {
        margin: 0 1rem 1rem 1rem;
    }

    .course-filters button{
        width: 90%;   
    }

    .card-grid {
        margin: 0;
    }

    .page-heading {
        border-radius: 0.5rem;
        margin: 0.5rem;
    }
}