.dashboard {
  display: flex;
  height: 100vh; 
  overflow: hidden;
}

.sidebar {
  width: 240px;
  background: var(--card);
  color: var(--text);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow);
  transition: width 0.3s ease;
  height: 95vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -1.5rem 0 -1.5rem 0;
}

.logo {
  font-size: 1.5rem;
  font-family: 'Zen Dots', sans-serif;
  color: var(--accent);
}

.collapse-btn {
  background: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;
}

.menu {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.nav-item:hover {
  background: var(--accent);
  color: white;
}

.nav-item.active {
  background: var(--accent);
  color: white;
}

.theme-toggle-sidebar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.theme-toggle-sidebar button {
  background: transparent;
  border: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.logout-btn {
  padding: 0.6rem 1rem;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
  width: 100%;
}

.dashboard-main {
  flex: 1;
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
}


.dashboard.collapsed .sidebar {
  width: 80px;
}

.dashboard.collapsed .nav-item span {
  display: none;
}

.dashboard.collapsed .logo {
  font-size: 1.2rem;
  text-align: center;
}

.dashboard.collapsed .nav-item {
  justify-content: center;
}

.dashboard.collapsed .logout-btn {
  padding: 0.6rem;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .dashboard-main {
    padding-bottom: 4rem;
  }

  .bottom-nav-wrapper {
    display: block;
  }
}

@media (min-width: 769px) {
  .bottom-nav-wrapper {
    display: none;
  }
}
