.navbar.scrolled {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--bg);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--bg);
    color: var(--text);
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.logo {
    font-family: "Zen Dots", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    padding: 0 0.6rem;
    font-weight: 500;
    border-bottom: 2px solid #ffffff00;
    transition: all 0.3s ease;
}

.nav-links li.active a{
    color: var(--bg);
    background: var(--accent);
    border-radius: 5rem;
    border-bottom: 2px solid var(--accent);
    padding: 0.6rem 1rem;
    transition: all 0.3s ease;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    background: var(--accent);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.btn.login {
    background: transparent;
    color: var(--text);
    border: 1px solid var(--text);
}

.theme-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text);
    transition: transform 0.5s ease;
}

.theme-toggle:active {
    transform: rotate(180deg);
}

.menu-mobile-btn {
    display: none;
}

.sidebar-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: var(--bg);
    padding: 1rem 0.5rem 1rem 1rem;
    box-shadow: var(--side-shadow);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 999;
    display: none;
}

.sidebar-mobile.open {
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
}

@media (max-width: 768px) {

    .nav-links {
        display: none;
    }

    .nav-right {
        display: none;
    }

    .menu-mobile-btn,
    .sidebar-close {
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--text);
    }

    .links-mobile {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        list-style: none;
        gap: 1.5rem;
        padding: 0;
    }

    .links-mobile li {
        width: 90%;
        transition: all 0.3s ease;
    }

    .links-mobile a {
        text-decoration: none;
        color: var(--text);
        font-weight: 500;
    }

    .links-mobile li.active {
        background: var(--accent);
        color: #ffffff;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 0.5rem 0 0.5rem 1rem;
        transition: all 0.3s ease;
    }

    .links-mobile li.active a {
        color: #ffffff;
    }

    .theme-toggle-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--text);
        transition: transform 0.5s ease;
        margin: 0 0 0.5rem 0;
    }

    .theme-toggle-mobile p {
        font-weight: 600;
        font-size: 1rem;
    }

    .button-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .btn-mobile {
        padding: 0.5rem 1rem;
        border: none;
        background: var(--accent);
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 500;
        width: 100%;
    }

    .btn-mobile.login {
        padding: 0.5rem 1rem;
        border: none;
        background: transparent;
        border: 1px solid var(--text);
        color: var(--text);
        border-radius: 6px;
        cursor: pointer;
        font-weight: 500;
        width: 100%;
    }

    .sidebar-mobile {
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background: var(--bg);
        padding: 1rem 0.5rem 1rem 1rem;
        box-shadow: var(--side-shadow);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 999;
    }

    .sidebar-mobile.open {
        display: flex;
        flex-direction: column;
        transform: translateX(0%);
    }
}